body {
    background-color: antiquewhite;
    font-family: pots;
    }
    section { margin-top: 2rem; margin-bottom: 2rem; }
    aside { text-align: center; }

    a {
        color: #000;
    }

nav {
    text-align: left;
    word-spacing: 10px;
    text-decoration: none;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
}

h2 {
    text-align: center;
    font-size: 30px;
}



.name p {
    text-align: center;
    font-size: 16px;
    margin-top: -1.2%;
    text-decoration: none;
}

.socials{
    text-align: right;
    margin-top: -1.7%;
    text-decoration: none;
    
    
}

section{
    text-align: center;
}