@font-face {
    font-family: nos;
    src: url(../rn-website/assets/font/nimbus-mono.regular.otf);
}

@font-face {
    font-family: pots;
    src: url(../rn-website/assets/font/Kollektif.ttf);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    animation: fadeIn 3s
}


h1 {
    animation: fadeIn 1.55s;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 0.5em;
    color: #000;
}

body {
    background-color: antiquewhite;

}

.title {
        font-size: 2.5em;
        height: 100%;
        width: 100%;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        bottom: 50px;
        font-family: pots;
}

.social-links {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 100px;
    bottom: 0;
    font-family: nos;
}

.social-links::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}







a {
    color: #000;
}

a:hover {
    color: white;
}

